[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "==24.2"
tomli = "==2.2.1"

[dev-packages]
pre-commit = "==4.1.0"
covdefaults = "==2.3.0"
coverage = "==7.6.12"
pytest = "==8.3.4"
poetry = "==2.0.1"
tomli-w = "==1.2.0"
setuptools = "==75.8.0"
