# Auto generated hash from ./scripts/add-dependencies-hash.sh
# 0ff205428bf2df37fd0e990cb098f3b9fb19e92057d8bc11471145881f0fbed0
pytest>=6.0 # version required for pyproject.toml support
pre-commit
coverage[toml]
covdefaults>=2.2

poetry
wheel
tomli-w
