# Auto generated hash from ./scripts/add-dependencies-hash.sh
# 6448ec368fa6f2fe934c1520176abd5829c66ea1a6443babefe4c9b40a489bcd
pytest>=6.0 # version required for pyproject.toml support
pre-commit
coverage[toml]
covdefaults>=2.2

setuptools
poetry
wheel
tomli-w
